**/xubuntu/
**/atril/
**/gtk-3.0
**/libreoffice
**/*.conf
**/xfce4
**/*.locale
**/Thunar
**/dconf
**/pulse
**/*.dirs
**/github-copilot/
**/Code/
**/enchant/
**/*.list
**/eog/
**/evolution/
**/gh/
**/systemd/
**/yelp/
**/jgit/
**/xfburn/
gnome-initial-setup-done
.gsd-keyboard.settings-ported
