**/nvim
**/xubuntu/
**/atril/
**/gtk-3.0
**/libreoffice
**/*.conf
**/xfce4
**/*.locale
**/Thunar
**/dconf
**/pulse
**/*.dirs
**/github-copilot/
**/Code/
.gsd-keyboard.settings-ported
**/enchant/
**/*.list
**/eog/
**/evolution/
**/gh/
gnome-initial-setup-done
**/systemd/
**/yelp/

