**/xubuntu/
**/atril/
**/gtk-3.0
**/libreoffice
**/xfce4
**/*.locale
**/Thunar
**/dconf
**/pulse
**/github-copilot/
**/Code/
**/enchant/
**/eog/
**/evolution/
**/gh/
**/systemd/
**/yelp/
autorandr/
compiz-1/
configstore/
ibus/
jgit/
**/jgit/
**/xfburn/
gnome-initial-setup-done
.gsd-keyboard.settings-ported
spotify/
discord/
Notion/
aseprite/
spotify-player/
